{% extends 'base.html' %}

{% block content %}
<title>Home Page</title>
    <div class="container container-fluid pb-2 text-center" style= "background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4WoLFtS43tsSqqrldoUNmiPkABqBBvDFc-w&usqp=CAU)">
        <h1 class="display-4">Welcome {{user.first_name}}!</h1>
    </div>
        <div class="container p-4 my-3 border" style= "background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4WoLFtS43tsSqqrldoUNmiPkABqBBvDFc-w&usqp=CAU)">
            <div class="row">
                <div style="border-style: solid;" class="col rounded">
                    <h4>Identify Deities by Locations</h4>
                    {% for deity in deity_sidebar_L %}
                    <ul>
                        <li><a href="deities_by_location/{{deity.location}}">{{deity.location}}</a></li>
                    </ul>
                {% endfor %}
                </div>
                <div class="col-6">
                {% for deity in deity %}
                    <P><strong>{{deity.name}}</strong> <i>{{deity.alt_name}}</i> ({{deity.culture}})</P>
                    <p style="text-indent: 50px">{{deity.description}}</p>
                    <p><u>Religion:</u> {{deity.religion}}</p>
                    <p><u>Location:</u> <a href="deities_by_location/{{deity.location}}">{{deity.location}}</a></p>
                    <p><u>Pop Culture References:</u> {{deity.pop_culture}}</p>
                    <p><u>Contributor:</u> {{deity.contributor.first_name}} {{deity.contributor.last_name}}</p>
                    <p><u>Sources</u>: <i>{{deity.source}}</i></p>
                    {% if user.id == 1 %}
                        <a href="deity_edit_page/{{deity.id}}">Edit Entry</a>
                    {% endif %}
                    ------ <a href="wiki_sum/{{deity.name}}">Wikipedia Summary</a>
                <hr style="border: 1px solid black;">
                {% endfor %}
                </div>
                <div style="border-style: solid;" class="col rounded">
                <h4>Identify Deities by Religions</h4>
                {% for deity in deity_sidebar_R %}
                    <ul>
                        <li><a href="deities_by_religion/{{deity.religion}}">{{deity.religion}}</a></li>
                    </ul>
                {% endfor %}
                </div>
            </div>
{% endblock %}